name: PR Summary

on:
  pull_request:
    types: [opened, edited, synchronize]

permissions:
  issues: write
  contents: write

jobs:
  summarize:
    if: ${{ github.event.sender.login != 'github-actions[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate PR Summary
        uses: ./.github/pr-writer
        with:
          groq_api_key: ${{ secrets.GROQ_API_KEY }}
          github_token: ${{ secrets.GH_TOKEN }}
